site_name: datafun-06-eda
site_description: Exploratory Data Analysis Project
site_author: Tammy Mims
repo_url: https://github.com/tmims71-ctrl/datafun-06-eda
repo_name: tmims71-ctrl/datafun-06-eda

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list

nav:
  - Home: index.md
  - Project Setup: setup.md
  - Dataset: dataset.md
  - Notebook: notebook.md
